# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextVal
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs and Editors
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factorypath
bin/
out/

# System Files
.DS_Store
Thumbs.db
